// reset margins and padding here
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$site-spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$site-spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $site-spacing-unit;
  padding-left: $site-spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$site-spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$site-spacing-unit}));
    padding-right: $site-spacing-unit / 2;
    padding-left: $site-spacing-unit / 2;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $site-spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

img {
  max-width: 80%;
  vertical-align: middle;
}

.img-container {
  text-align: center;
}

ul, ol {
  margin-left: $site-spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

a {
  color: $page-link-color;
  text-decoration: none;
  font: $page-font-weight #{$page-font-size}/#{$page-line-height} $page-font-family;
  &:visited {
    color: $page-link-color-visited;
  }
  &:hover {
    color: $page-text-color;
    text-decoration: underline;
  }
}


%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

table {
  margin-bottom: $site-spacing-unit;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid $grey-light;
  th, td {
    padding: ($site-spacing-unit / 3) ($site-spacing-unit / 2);
  }
  th {
    border: 1px solid darken($grey-light, 4%);
    border-bottom-color: darken($grey-light, 12%);
  }
  td {
    border: 1px solid $grey-light;
  }
}
